@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

body
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    min-height:100vh;
    box-sizing: border-box;
    background: #f3f3f3;
}

/* NAVIGATION BAR */

header {
    position: relative;
    width: 100%;
    background: #276678;
    box-sizing: border-box;
}

.logo {
    width: 150px;
    padding: 10px 20px;
    box-sizing: border-box;
    float: left;
}


.clearfix {
    clear: both;
}

nav {
    float: right;
    margin-right: 20px;
} 

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    margin: 30px 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

nav ul li a.active, nav ul li a:hover {
    background: #0f3540;
    transition: 0.5s
}


.about_box .about_caption h2, .optionTitle h2, .articleTitle, .youtubeTitle, .websiteTitle {   /* set special font for all headings */
    font-family: 'Coiny', cursive;
    font-size: 40px;
    font-weight: 700;
    color: #276678;
}

.about_box .about_caption p, .layout-option_item p {
    font-size: 18px;
    font-weight: 400;
}

 /* INDEX PAGE */
/* slideshow */
.container_slide {
    position: relative;
    width:100%;
    height: 50vh;
    background: url('img/sample.png');
    background-size: cover;
    background-position: center;
}

/* about box */

.about_box {
    margin-top: 50px;
    padding: 20px;
    display: flex;
}

.about_box .about_caption {
    margin: auto;
    padding-right: 10px;
    width: 40%;
}

.about_box .about_img {
    display: flex;
    margin: auto;
    width: 40%;
}

/* option */

.optionTitle {
    position: relative;
    top: 40px;
    text-align: center;
    background: #f3f3f3;
}

.layout-option {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.layout-option_item {
    width:30%;
    font-size: 25px;
    position: relative;
    margin-top: 30px;
    padding: 10px;
    transition: 1s;
    text-align: center;
}

.layout-option_item.option_item1 {
    background: #276678;
}

.layout-option_item.option_item2 {
    background: #1687A7;
}

.layout-option_item.option_item3 {
    background: #529FB0;
}

.layout-option_item img {
    width: 100%;
}

.layout-option_item p {
    width: 100%;
    text-align: left;
    color: #fff;
    font-weight: 200;
}

.layout-option_item a {
    display: block;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    background: #fff;
    color: #276678;
}

.layout-option_item a:hover {
    background: #0f3540;
    transition: 0.5s;
    color: #fff;
}

/* mental health */


.articleTitle {
    position: relative;
    top: 40px;
    text-align: center;
    background: #f3f3f3;
}

.layout-article {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.layout-article_item {
    width:30%;
    font-size: 25px;
    position: relative;
    margin-top: 30px;
    padding: 10px;
    transition: 1s;
    text-align: center;
    background: #276678;
}

.layout-article_item a {
    display: block;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
}

.layout-article_item a:hover {
    background: #0f3540;
    transition: 0.5s;
}

/* quote */

.quote {
    display: flex;
    margin: auto;
    background: #f3f3f3;
}

.quote img {
    width: 15%;
    margin: auto;
    margin-bottom: 50px;
}

/* youtube */

.container_youtube {
    width: 100%;
    display:flex;
    align-items: center;
    background: #f3f3f3;
    margin-bottom: 100px;
}   

.youtubeTitle {
    width: 80%;
    position: relative;
    left: 5%;
    background: #f3f3f3;
}

.container_youtube .youtubeInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;

}

.container_youtube .youtubeVid{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.container_youtube .youtubeVid video {
    width:70%;
    margin: auto;
}

.container_youtube .youtubeInfo .box {
    display: flex;
}

.container_youtube .youtubeInfo .box .icon_youtube {
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.container_youtube .youtubeInfo .box .text {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
}

.container_youtube .youtubeInfo .box .text h2 {
    margin: 0;
    font-size: 25px;
}

.container_youtube .youtubeInfo .box .text p {
    margin: 10px;
}

.container_youtube .youtubeInfo .box a {
    text-decoration: none;
    color: white;
    background: #276678;
    padding: 8px;
    border-radius: 5%;;
    border: 1px solid #f3f3f3;
    font-size: 16px;
}

.container_youtube .youtubeInfo .box a:hover {
    opacity: 0.8;
    transition: 0.5s;
    background: #0f3540;
}

/* Websites */
.websiteTitle {
    position: relative;
    top: 40px;
    text-align: center;
    background: #f3f3f3;
}

.layout-website {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 100px;
    min-height: 30em;
    margin: 10px;

}

.layout-website_item {
    width:100%;
    font-size: 25px;
    position: relative;
    margin-top: 30px;
    padding: 20px;
    transition: 1s;
    text-align: center;
    background: #276678;
}

.websiteList {
    display: flex;
    flex-direction: column;
}

.websiteItem {
    width: 80%;
    display: flex;
    margin:auto;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

aside { /* left image */
    width: 200px;
    background: url('img/sample.png');
    background-size: cover;
    background-position: center;
    display: block;
}

.website_content {
    width:100%;
    padding: 0 20px 15px 20px;
    background: #1687A7;
    color: white;
    font-size: 15px;
    word-wrap: break-word;
    text-align: left;
}

.website_content article a {
    text-decoration: none;
    color: white;
    background: #276678;
    padding: 5px;
    border-radius: 5%;
    border: 1px solid #f3f3f3;
    font-size: 16px;
}

.website_content article a:hover {
    opacity: 0.8;
    transition: 0.5s;
    background: #0f3540;
}


/* footer */
.footer_container {
    display: flex;
    justify-content:space-between;
    background: #276678;
    color: white;
    margin-top: 100px;
}

.footer_container .footer_logo {
    width:150px;
    height: 80px;
    padding: 5px 20px;
    box-sizing: border-box;
    position: relative;
    left: 20px;
}

.footer_socialmedia {
    display: flex;
    width: 10%;
    justify-content: space-around;
    position: relative;
    margin-top: 30px;
    margin-right: 30px;
    font-size: 20px;
}


/* RESPONSIVE VERSION 1 */
@media  (max-width: 910px) {
    
    .welcome_box .welcome_caption h2, .about_box .about_caption h2, .locationTitle h2, .menuTitle h2, .section_content h2 {
        font-size: 200%;    /* increase size of all headings */
    }

    .welcome_box .welcome_caption p, .about_box .about_caption p,  {
        font-size: 100%;
    }
    
/* RESPONSIVE NAVIGATION BAR */   
    .menu-toggle {
        display: block;
        width: 40px;
        height: 40px;
        background: none;
        float:right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: black;
        margin: 25px;
    }
    
    .menu-toggle:before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
        color: #fff;
    }
    
    .menu-toggle.active:before {
        content: '\f00d';
    }
    
    nav {
        display: none;
        margin: 0;
    }
    
    nav.active {
        display:block;
        width: 100%;
    }
    
    nav.active ul {
        display: block;
    }
    
    nav.active ul li a {
        margin: 0;
    }

    .logo {
        width: 150px;
    }
 
/* INDEX (RESPONSIVE) */
/* Responsive about box */
    .about_caption h2 {
    margin-top: 30px;
    }
    
    .about_box .about_caption p {
        width: 80%;
        margin-bottom: 60px;
    }
    
    .about_box {
        flex-direction: column;
    }
    
    .about_box .about_caption {
        margin: auto;
        padding-right: 10px;
        width: 100%;
    }
    
/* Responsive option */

    .optionTitle { 
        top:0;
    }
    
    .layout-option {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 100px;

    }

    .layout-option_item, .layout-article_item {
        width:40%;
    }

    .layout-option_item img {
        width: 100%;
    }

    .layout-option_item p, .layout-article_item p {
        width: 100%;
        text-align: left;
        color: #fff;
        font-weight: 200;
        font-size: 16px;
    }

    .layout-option_item a {
        text-decoration: none;
        padding: 5px;
        border-radius: 5px;
        font-size: 16px;
        background: #fff;
        color: #276678;
    }
    
/* MENTAL HEALTH RESPONSIVE */
    
/* Responsive quote */
    .quote img{
        width: 30%;
    }
    
/* Responsive youtube */
    .container_youtube {
        display: flex;
        flex-direction: column;
    }
    
    .container_youtube .youtubeInfo {
        margin-top: 30px;
    }

    
    .container_youtube .youtubeInfo .box {
        width:50%;
        margin: auto;
    }
    
    .container_youtube .youtubeInfo .box .text h2, .articleTitle, .youtubeTitle, .websiteTitle {
        font-size: 100%;
    }
    
    .container_youtube .youtubeInfo .box .text p{
        font-size: 90%;
    }
    
    .container_youtube .youtubeImg video {
        width: 100%;
        padding: 5px 10px;
    }
    
    #websiteTitle {
        font-size: 35px;
    }
    
    .website_img { /* left image */
        width: 150px;
    }

    .website_content {
        font-size: 70%;
    }

/* Responsive footer */
    
    .footer_container {
        font-size: 70%;
    }
    
    .footer_socialmedia {
        flex-direction: column;
        margin: 0;
        font-size: 120%;
    }
    
    .footer_container .footer_logo {
        width:150px;
        box-sizing: border-box;
        position: relative;
        top: 0;  
    }
    
 /* RESPONSIVE VERSION 2 */   
@media  (max-width: 780px) {
    .layout-option_item, .layout-article_item {
        width:70%;
    }

}
